<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title>حق نیوز</title>
    <base href="">
    <meta name="googlebot" content="index,follow">
    <meta name="robots" content="noodp,noydir">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/style.css">
    <link href="/HaghNews.ico" rel="icon" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/Content/js/jquery.min.js"></script>
</head>
<body>
    <script src="/Content/js/modernizr.js"></script>

    <!-- header -->
    <header class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="left-side">
                        <a id="svgLink" href="/">
                            <svg height="60" width="60" viewBox="0 0 500 500">
                                <path fill="var(--main)" d="M0,0V500H500V0ZM455.6213,455.6213H44.3787V44.3787H455.6213Z" />
                                <path fill="var(--main)" d="M179.03715,180.27338a1.77018,1.77018,0,0,0,2.74117,0l15.872-16.01577a2.25828,2.25828,0,0,0,.61938-.83995,2.17863,2.17863,0,0,0,.53487.83995l15.8713,16.01577a1.77018,1.77018,0,0,0,2.74117,0l15.872-16.01577a1.53068,1.53068,0,0,0,0-2.5967l-15.872-16.01577a1.77018,1.77018,0,0,0-2.74117,0l-15.8713,16.01577a2.17866,2.17866,0,0,0-.53487.84,2.2583,2.2583,0,0,0-.61938-.84l-15.872-16.01577a1.77018,1.77018,0,0,0-2.74117,0l-15.87131,16.01577a1.62239,1.62239,0,0,0,0,2.5967Z" />
                                <path fill="var(--main)" d="M121.75584,339.56575q14.42632,15.43721,44.58455,15.43865,47.75586,0,63.197-29.8675,6.4932-12.553,6.49284-35.92768v-3.17383h11.97589v-.14446h42.27462a33.84624,33.84624,0,0,0,23.37538-8.94508,68.29664,68.29664,0,0,0,6.20319-7.93674q6.49428-9.09027,11.11057-14.71633a93.09564,93.09564,0,0,1,21.9322-20.20084q9.95487-6.20174,25.538-8.07975,2.739,0,5.77125.14446,4.61556-25.248,6.06018-33.76291a4.26914,4.26914,0,0,0-.14446-3.03009c-.4825-.48034-1.58619-.76854-3.31829-.86605q-4.47471-.14193-7.93529-.2882-3.32191-.28711-6.06018-.57713-12.84339-1.441-31.74262-8.80134-26.40619-10.53127-30.73282-11.83143-3.17671-.86568-6.20464-1.58764-3.3219-.71941-6.49357-1.298a37.21336,37.21336,0,0,0-5.62679-.14446,32.43488,32.43488,0,0,0-23.08645,11.54251q-10.81948,12.26591-17.89017,39.96755l12.84122,2.74117q2.596-5.91464,5.62679-8.51242,3.02937-2.59707,8.94509-3.60721,6.92766-1.15389,25.106,4.32807,6.78032,2.02284,15.872,4.76147,11.54106,3.46275,12.98568,3.89614-12.26481,9.23544-16.88182,12.11963a13.96668,13.96668,0,0,1-3.89614,1.73137q-6.05872,2.45514-19.18887,3.46348H244.54268v.2882h-8.368V223.55923a37.05828,37.05828,0,0,0-7.07-21.93149q-10.38934-14.71669-32.46493-14.717-21.50026,0-30.4439,16.44843a41.9416,41.9416,0,0,0-5.05039,20.20011v45.59434q0,8.94725,7.21443,13.56353a20.98564,20.98564,0,0,0,11.54323,3.31829h36.793q-5.48558,17.74715-46.89305,17.74715-30.30016,0-36.93747-12.55374-5.0522-9.23112,1.15425-35.34983H118.72575q-10.10114,24.82-9.09027,49.4912Q110.356,327.15431,121.75584,339.56575Zm64.35128-102.87638v.43266H175.28547q-1.87656,0-1.73137-2.3085a7.04126,7.04126,0,0,1,1.73137-5.33859,17.7767,17.7767,0,0,1,14.57332-7.07,27.65285,27.65285,0,0,1,13.70727,3.46275,21.09969,21.09969,0,0,1,9.81113,10.82164Z" />
                            </svg>
                        </a>
                        <div>
                            <a href="/">
                                <h1>حق نیوز</h1>
                                <h2>پایگاه اطلاع رسانی و اخبار حق</h2>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form id="searchForm" action="/Search" method="get" class="border-radius">
                        <input onfocus="this.placeholder = ''" onblur="this.placeholder = 'جستجو کنید ...'" id="searchInput" class="border-radius" type="text" name="q" placeholder="جستجو کنید ...">
                        <button>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 11.4783C1 15.8486 1.78302 18.3581 3.30283 19.8237C4.83125 21.2975 7.35021 21.9565 11.4783 21.9565C15.6063 21.9565 18.1253 21.2975 19.6537 19.8237C21.1735 18.3581 21.9565 15.8486 21.9565 11.4783C21.9565 7.10793 21.1735 4.59845 19.6537 3.13291C18.1253 1.65907 15.6063 1.00002 11.4783 1.00002C7.35021 1.00002 4.83125 1.65907 3.30283 3.13291C1.78302 4.59845 1 7.10793 1 11.4783Z" stroke="var(--main)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M22.9565 22.9565L20.3478 20.3478" stroke="var(--main)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <!-- menu -->
    <nav class="main-menu">
        <div class="container">
            <span><i class="fa fa-th-list"></i></span>
            <ul>
                <li><a href="/">صفحه اصلی</a></li>
                <li><a href="/Archive">آرشیو خبرها</a></li>
                <li>
                    @Html.Action("ShowMenuNews", "News")
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/Account/SignOut">خروج</a></li>
                }
                else
                {
                    <li><a href="/Account/Login">ورود به سایت</a></li>
                }
            </ul>
        </div>
    </nav>
    <!-- End menu -->

    <div class="container margin-top-30">
        <div class="row">

            <aside class="col-md-4 col-sm-12 col-xs-12 pull-right">

                @if (User.Identity.IsAuthenticated)
                {
                    <section class="category-section border-radius">
                        <header style="height: 50px; display: flex; align-items: center;">
                            <svg width="19" height="21" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 19C1 19.9693 1.11783 20.618 1.34327 21.0791C1.5502 21.5023 1.88679 21.8473 2.51687 22.1337C3.17962 22.4349 4.14546 22.6599 5.5602 22.8028C6.96536 22.9448 8.74527 23 11 23C13.2547 23 15.0346 22.9448 16.4398 22.8028C17.8545 22.6599 18.8204 22.4349 19.4831 22.1337C20.1132 21.8473 20.4498 21.5023 20.6567 21.0791C20.8822 20.618 21 19.9693 21 19C21 18.0307 20.8822 17.382 20.6567 16.9209C20.4498 16.4977 20.1132 16.1527 19.4831 15.8663C18.8204 15.5651 17.8545 15.3401 16.4398 15.1972C15.0346 15.0552 13.2547 15 11 15C8.74527 15 6.96536 15.0552 5.5602 15.1972C4.14546 15.3401 3.17962 15.5651 2.51687 15.8663C1.88679 16.1527 1.5502 16.4977 1.34327 16.9209C1.11783 17.382 1 18.0307 1 19Z"
                                      stroke="var(--main)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <circle r="5" transform="matrix(-1 0 0 1 11 6)" stroke="var(--main)" stroke-width="2" />
                            </svg>
                            <h3 style="display: inline-block; margin-right: 13px;">پنل ادمین</h3>
                        </header>
                        <ul>
                            <li>
                                <a href="/Admin/Pages">مدیریت خبر ها</a>
                            </li>
                            <li>
                                <a href="/Admin/PageGroups">مدیریت گروه های خبری</a>
                            </li>
                        </ul>
                    </section>
                }

                @Html.Action("ShowCategoryNews", "News")
                <!-- most views news -->
                @Html.Action("ShowTopNews", "News")
                <!-- end most views news -->
            </aside>

            <div class="col-md-8 col-sm-12 col-xs-12 ">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a id="footerLogo" href="/">
                    <svg height="40" width="40" viewBox="0 0 500 500">
                        <path fill="var(--darktext)" d="M0,0V500H500V0ZM455.6213,455.6213H44.3787V44.3787H455.6213Z" />
                        <path fill="var(--darktext)" d="M179.03715,180.27338a1.77018,1.77018,0,0,0,2.74117,0l15.872-16.01577a2.25828,2.25828,0,0,0,.61938-.83995,2.17863,2.17863,0,0,0,.53487.83995l15.8713,16.01577a1.77018,1.77018,0,0,0,2.74117,0l15.872-16.01577a1.53068,1.53068,0,0,0,0-2.5967l-15.872-16.01577a1.77018,1.77018,0,0,0-2.74117,0l-15.8713,16.01577a2.17866,2.17866,0,0,0-.53487.84,2.2583,2.2583,0,0,0-.61938-.84l-15.872-16.01577a1.77018,1.77018,0,0,0-2.74117,0l-15.87131,16.01577a1.62239,1.62239,0,0,0,0,2.5967Z" />
                        <path fill="var(--darktext)" d="M121.75584,339.56575q14.42632,15.43721,44.58455,15.43865,47.75586,0,63.197-29.8675,6.4932-12.553,6.49284-35.92768v-3.17383h11.97589v-.14446h42.27462a33.84624,33.84624,0,0,0,23.37538-8.94508,68.29664,68.29664,0,0,0,6.20319-7.93674q6.49428-9.09027,11.11057-14.71633a93.09564,93.09564,0,0,1,21.9322-20.20084q9.95487-6.20174,25.538-8.07975,2.739,0,5.77125.14446,4.61556-25.248,6.06018-33.76291a4.26914,4.26914,0,0,0-.14446-3.03009c-.4825-.48034-1.58619-.76854-3.31829-.86605q-4.47471-.14193-7.93529-.2882-3.32191-.28711-6.06018-.57713-12.84339-1.441-31.74262-8.80134-26.40619-10.53127-30.73282-11.83143-3.17671-.86568-6.20464-1.58764-3.3219-.71941-6.49357-1.298a37.21336,37.21336,0,0,0-5.62679-.14446,32.43488,32.43488,0,0,0-23.08645,11.54251q-10.81948,12.26591-17.89017,39.96755l12.84122,2.74117q2.596-5.91464,5.62679-8.51242,3.02937-2.59707,8.94509-3.60721,6.92766-1.15389,25.106,4.32807,6.78032,2.02284,15.872,4.76147,11.54106,3.46275,12.98568,3.89614-12.26481,9.23544-16.88182,12.11963a13.96668,13.96668,0,0,1-3.89614,1.73137q-6.05872,2.45514-19.18887,3.46348H244.54268v.2882h-8.368V223.55923a37.05828,37.05828,0,0,0-7.07-21.93149q-10.38934-14.71669-32.46493-14.717-21.50026,0-30.4439,16.44843a41.9416,41.9416,0,0,0-5.05039,20.20011v45.59434q0,8.94725,7.21443,13.56353a20.98564,20.98564,0,0,0,11.54323,3.31829h36.793q-5.48558,17.74715-46.89305,17.74715-30.30016,0-36.93747-12.55374-5.0522-9.23112,1.15425-35.34983H118.72575q-10.10114,24.82-9.09027,49.4912Q110.356,327.15431,121.75584,339.56575Zm64.35128-102.87638v.43266H175.28547q-1.87656,0-1.73137-2.3085a7.04126,7.04126,0,0,1,1.73137-5.33859,17.7767,17.7767,0,0,1,14.57332-7.07,27.65285,27.65285,0,0,1,13.70727,3.46275,21.09969,21.09969,0,0,1,9.81113,10.82164Z" />
                    </svg>
                </a>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p style="direction: ltr">© 2021 HaghNews</p>
                <a href="/Archive">آرشیو</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/Account/SignOut">خروج</a>
                }
                else
                {
                    <a href="/Account/Login">ورود</a>
                }
            </div>
        </div>
    </footer>

    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/owl.carousel.js"></script>
    <script src="/Content/js/script.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
